<?xml version='1.0' encoding='utf-8'?>
<widget id="shorty.cmis.tabris" version="0.1.0">
    <name>CMIS Squirrel</name>
    <description>
    Mobile CMIS Client for AtomPub bindings
  </description>
    <author email="sascha.homeier@gmail.com">
    Sascha Homeier
  </author>
  <preference name="EnableDeveloperConsole" value="true"/>
  <preference name="CameraUsesGeolocation" value="true" />
  <!--
  <plugin name="cordova-plugin-camera" spec="^2.4.1" />
  -->
  <plugin name="cordova-plugin-camera-with-exif" spec="^1.2.2" />
  <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
  <plugin name="cordova-plugin-file-opener2" spec="^2.0.15" />
</widget>
